doctype html
html(lang="en")
  head
    title= Spark Temp
    link(rel="stylesheet", type="text/css", href="/public/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/public/stylesheets/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="/public/stylesheets/style.css")
    script(type="text/javascript", src="//cdn.jsdelivr.net/sparkjs/0.2.1/spark.min.js")
    script(type="text/javascript", src="/public/javascripts/bundle.js")
  body(ng-app="myapp")